<div class="navbar" role="navigation">
  <a href="javascript:void(0)" onclick="showSection('home')" aria-label="Home page">Home</a>
  <a href="javascript:void(0)" onclick="showSection('projects')" aria-label="Projects page">Projects</a>
  <a href="javascript:void(0)" onclick="showSection('publications')" aria-label="Publications page">Publications</a>
  <a href="javascript:void(0)" onclick="showSection('cv')" aria-label="CV page">CV</a>
  <a href="javascript:void(0)" onclick="showSection('contact')" aria-label="Contact page">Contact</a>
  <a href="javascript:void(0)" onclick="showSection('about-detail')" aria-label="About in Detail page">About in Detail</a>
</div>
