<div class="sidebar">
  <div class="avatar-wrapper">
    <img src="{{ site.baseurl }}/assets/avatar.jpg" alt="Your Profile Picture">
  </div>
  <div class="social-links">
    <a class="social-link" href="https://www.linkedin.com/in/dishanarupani/" target="_blank" aria-label="LinkedIn profile">
      <img src="{{ site.baseurl }}/assets/linkedin.svg" alt="LinkedIn logo" onerror="this.onerror=null;this.src='https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/linkedin.svg';">LinkedIn
    </a>
    <a class="social-link" href="https://github.com/dishana11" target="_blank" aria-label="GitHub profile">
      <img src="{{ site.baseurl }}/assets/github.svg" alt="GitHub logo" onerror="this.onerror=null;this.src='https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/github.svg';">GitHub
    </a>
    <a class="social-link" href="https://x.com/dishanaa11" target="_blank" aria-label="X (Twitter) profile">
      <img src="{{ site.baseurl }}/assets/x-twitter.svg" alt="X logo" onerror="this.onerror=null;this.src='https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/x.svg';">X (Twitter)
    </a>
    <a class="social-link" href="https://mail.google.com/mail/?view=cm&fs=1&to=dishanarupani@gmail.com" target="_blank" rel="noopener" aria-label="Email">
      <img src="{{ site.baseurl }}/assets/email.svg" alt="Email logo" onerror="this.onerror=null;this.src='https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/maildotru.svg';">Email
    </a>
  </div>
</div>
